VITE_APPWRITE_URL  = "https://nyc.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID ="6a2a98d7003c5787bf36"
VITE_APPWRITE_DATABASE_ID ="6a2a9ae70038127f6caa"
VITE_APPWRITE_COLLECTION_ID= "articles"
VITE_APPWRITE_BUCKET_ID = "6a2aa0960000c2b75c59"
